@page "/"
@using Shared.Models
@using Shared.Services
@inject RosterState RosterState 
@inject PlayerState PlayerState
@inject ISleeperAPI SleeperApi

<PageTitle>Home</PageTitle>

<div class="brand-container">
    <h1>@Brand</h1>
</div>

<div class="welcome-container">
    <p class="welcome-text">
        Welcome to the @Brand.ToString().Replace("FFL", "") dynasty fantasy football league, founded in the summer of 2020. 
        This league is comprised of 10 members who dream of bringing home a jersey of their choice, each and every year. 
        However, some owners' dreams are just that, dreams. At the conclusion of the season, the champion is given the 
        opportunity to select our new destination to draft rookies that will almost certainly become future waiver additions 
        for someone else. Luck? Skill? Who cares. The only thing that matters is: Don't. Finish. Last.
    </p>
</div>  
<div>
    <button class="btn btn-primary" @onclick="Test">Test</button>
</div>

@if (_testing is not null)
{
    <p>Player @(_testing.PlayerId): @(_testing.Firstname) @(_testing.Lastname) (@_testing.Position)</p>
}
else if (_didTest)
{
    <p>No player found for ID 1254.</p>
}




@code {
    [CascadingParameter(Name = "AppBrand")]
    public string? AppBrand { get; set; }

    private string Brand => string.IsNullOrWhiteSpace(AppBrand) ? "FFL" : AppBrand;
    private PlayerLiteModel? _testing = null;
    private bool _didTest = false;

    private async Task Test()
    {
        if (!PlayerState.IsLoaded)
        {
            await PlayerState.SetPlayers();
        }

        PlayerLiteModel? x = PlayerState.GetById("12534");
        _testing = x;
        _didTest = true;
    }
}
